
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Phylogenetic profile score', 'DMF positive', 'DMF negative', 'Neutral'],
          {%for i in histogram_bins.itertuples()%}
            ["{{i["Index"]}}", {{i["positive"]}}, {{i["negative"]}}, {{i["neutral"]}}],
          {%endfor%}
        ]);

        var options = {
          chart: {
            title: 'Phylogenetic profiles similarity scores distribution',
            subtitle: 'among different types of filtering'
          },
          colors: ["green", "red", "blue"],
          height: 600,
        };

        function resize() {
          var chart = new google.charts.Bar(document.getElementById('summary_chart'));
          chart.draw(data, options);
        }
        window.onload = resize();
        window.onresize = resize;
      }
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('.dataframe').DataTable( {
          scrollX: true,
          lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
          initComplete: function () {
            this.api().columns().every( function () {
              var column = this;
              var select = $('<select><option value=""></option></select>')
                .appendTo( $(column.header()))
                .on( 'change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );

                    column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                });
                column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ) {
                  if(column.search() === '^'+d+'$'){
                      select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
                  }
                  else {
                      select.append( '<option value="'+d+'">'+d+'</option>' )
                  }
                });
            });
          }
      });
    });
    </script>
    <script>
      function openDataframe(evt, DataframeName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("dataframe_div");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(DataframeName).style.display = "block";
        evt.currentTarget.className += " w3-red";
      }
    </script>
    <title>P-CRAWLER</title>
    <style type="text/css">
      .floating_box {
        display: inline-block;
      }
      .res_table {
        text-align: center;
        border-spacing: 0;
        border-collapse: collapse;

      }
      .res_table td {
        border: solid 1px;
      }
      .dataframe {
        font-size: 0.8em;
        border: 1px solid;
        border-collapse: collapse;
      }
    </style>
  <body>
    <nav>
      <ul class="w3-navbar w3-xlarge w3-margin w3-card-8 w3-padding-16 w3-black">
        <li style="width:14%;" class="w3-green"><a href="index.html">HOME</a></li>
        <li style="width:14%;" class="w3-dropdown-hover">
            <a href="#">G148</a>
            <div class="w3-dropdown-content w3-white">
              <a href="InParanoid-based_profiles.html">InParanoid-based profiles</a>
              <a href="OrthoFinder-based_profiles.html">OrthoFinder-based profiles</a>
              <a href="KEGG-based_profiles.html">KEGG-based profiles</a>
            </div>
        </li>
        <li style="width:14%;"><a href="lublin_soils.html">Lublin soils</a></li>
      </ul>
    </nav>
    <section class="w3-container w3-grey">
      <h1>G148</h1>
      {%if name != None%}
        <h2>{{name}}</h2>
      {%endif%}
      <p>File created: {{time_stamp}}</p>
      <article class="w3-container w3-margin w3-card-8 w3-light-grey">
        <h1>Definitions:</h1>
        <ul id="definitions">
          {%if definitions != None%}
            {%for definition in definitions%}
              <li>{{definition}}</li>
            {%endfor%}
          {%endif%}
        </ul>
      </article>
      <article class="w3-container w3-margin w3-card-8 w3-light-grey">
        <h1>Filters:</h1>
        <ul id="filters">
          {%if filters != None%}
            {%for filter in filters%}
              <li>{{filter}}</li>
            {%endfor%}
          {%endif%}
        </ul>
      </article>
      <article class="w3-container w3-margin w3-card-8 w3-light-grey">
        <h1>Results:</h1>
          {%if results_type == "tbl"%}
            {%if skip_perm_res == False%}
              <section class="w3-container">
                <h2>Summary</h2>
                <table id="res_table" class="res_table">
                  <tr>
                    <th>Category</th>
                    <th>Actual value</th>
                  </tr>
                  <tr>
                    <th>DMF positive</th>
                    <td>{{num_prop_res.DMF_positive}}</td>
                  </tr>
                  <tr>
                    <th>DMF negative</th>
                    <td>{{num_prop_res.DMF_negative}}</td>
                    <th>Average of {{e_value}} permutations</th>
                  </tr>
                  <tr>
                    <th>mirror profiles</th>
                    <td>{{num_prop_res.mirror_profiles}}</td>
                    <td>{{num_prop_perm.mirror_profiles_perm}}</td>
                  </tr>
                  <tr>
                    <th>similar profiles</th>
                    <td>{{num_prop_res.similar_profiles}}</td>
                    <td>{{num_prop_perm.similar_profiles_perm}}</td>
                  </tr>
                  <tr>
                    <th>dissimilar</th>
                    <td>{{num_prop_res.dissimilar_profiles}}</td>
                    <td>{{num_prop_perm.dissimilar_profiles_perm}}</td>
                  </tr>
                  <tr>
                    <th>total</th>
                    <td>{{num_prop_res.total}}</td>
                  </tr>
                </table>
              </section>
            {%else%}
              <section class="w3-container">
                <h2>Summary</h2>
                <table id="res_table" class="res_table">
                  <tr>
                    <th>Category</th>
                    <th>Value</th>
                  </tr>
                  <tr>
                    <th>DMF positive</th>
                    <td>{{num_prop_res.DMF_positive}}</td>
                  </tr>
                  <tr>
                    <th>DMF negative</th>
                    <td>{{num_prop_res.DMF_negative}}</td>
                  </tr>
                  <tr>
                    <th>mirror profiles</th>
                    <td>{{num_prop_res.mirror_profiles}}</td>
                  </tr>
                  <tr>
                    <th>similar profiles</th>
                    <td>{{num_prop_res.imilar_profiles}}</td>
                  </tr>
                  <tr>
                    <th>dissimilar</th>
                    <td>{{num_prop_res.dissimilar_profiles}}</td>
                  </tr>
                  <tr>
                    <th>total</th>
                    <td>{{num_prop_res.total}}</td>
                  </tr>
                </table>
              </section>
            {%endif%}
          {%elif results_type == "chart"%}
            <section class="w3-container w3-margin w3-card-8 w3-white">
              <h2>Summary - google chart</h2>
              <div id="summary_chart"></div>
            </section>
          {%endif%}
          <section class="w3-container w3-margin w3-card-8 w3-white">
            <h2>Plots<h2>
              <h3>Genetic Interaction Score</h3>
              <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">
                  <div>
                    <img src="{{histogram_gis_pos}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF positive</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{histogram_gis_neg}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF negative</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{histogram_gis_neu}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>Neutral</h5>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Genetic Interaction Score vs Profiles Similarity Score</h3>
              <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">
                  <div>
                    <img src="{{bivar_pos}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF positive</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{bivar_neg}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF negative</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{bivar_neu}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>Neutral</h5>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Including Bioprocess Similarity</h3>
              <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">
                  <div>
                    <img src="{{lin_regr_pos}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF positive</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{lin_regr_neg}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>DMF negative</h5>
                    </div>
                  </div>
                </div>
                <div class="w3-third">
                  <div>
                    <img src="{{lin_regr_pos}}" style="width: 100%;"/>
                    <div class="w3-container">
                      <h5>Neutral</h5>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          <article class="w3-container w3-margin w3-card-8 w3-white">
            <h2>Dataframe</h2>
            <br></br>
            <div class="w3-container">
              <p>
                Click to switch between
              </p>
              <ul class="w3-navbar w3-black">
                <li><a href="#" class="tablink" onclick="openDataframe(event, 'DMF_positive_dataframe')"></a></li>
                <li><a href="#" class="tablink" onclick="openDataframe(event, DMF_negative_dataframe)"></a></li>
                <li><a href="#" class="tablink" onclick="openDataframe(event, 'Neutral_dataframe')"></a></li>
              </ul>
              <div id="DMF_positive_dataframe">
                {{dataframe_pos}}
              </div>
              <div id="DMF_negative_dataframe">
                {{dataframe_neg}}
              </div>
              <div id="Neutral_dataframe">
                {{dataframe_neu}}
              </div>
            </div>
          </section>
      </article>
    </section>
  </body>
  </body>
</html>
