
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $("document").ready(function(){
        $(".dataframe").DataTable({
          paging: false
        });
      });
    </script>
    <title>P-CRAWLER</title>
    <style type="text/css">
      .floating_box {
        display: inline-block;
      }
      .res_table {
        text-align: center;
        border-spacing: 0;
        border-collapse: collapse;

      }
      .res_table td {
        border: solid 1px;
      }
      .dataframe {
        font-size: 0.8em;
        border: 1px solid;
        border-collapse: collapse;
      }
      .double_space {
        line-height: 200%;
      }
    </style>
  <body>
    <nav>
      <ul class="w3-navbar w3-large w3-margin w3-card-8 w3-padding-16 w3-black">
        <li style="width:14%;" class="w3-green"><a href="index.html">HOME</a></li>
        <li style="width:14%;" class="w3-dropdown-hover">
            <a href="#">G148</a>
            <div class="w3-dropdown-content w3-white">
              <a href="#">InParanoid-based profiles</a>
              <a href="#">OrthoFinder-based profiles</a>
              <a href="KEGG-based_profiles.html">KEGG-based profiles</a>
            </div>
        </li>
        <li style="14%;"><a href="lublin_soils.html">Lublin soils</a></li>
      </ul>
    </nav>
    <section class="w3-container w3-grey">
      <h1>G148</h1>
      <h2>Seks, ewolucja i interakcje</h2>
      <p>File created: {{time_stamp}}</p>
      <article class="w3-container w3-margin w3-card-8 w3-white">
        <h1>Definitions:</h1>
        <ul id="definitions">
          {%for definition in definitions%}
            <li>{{definition}}</li>
          {%endfor%}
        </ul>
      </article>
      <article class="w3-container w3-margin w3-card-8 w3-light-grey">
        <h1>Filters:</h1>
        <ul id="filters">
          {%for filter in filters%}
            <li>{{filter}}</li>
          {%endfor%}
        </ul>
      </article>
      <article class="w3-container w3-margin w3-card-8 w3-white">
        <h1>Results:</h1>
          <section class="w3-container">
            <h2>Summary</h2>
            <table id="res_table" class="res_table">
              <tr>
                <th>Category</th>
                <th>Actual value</th>
              </tr>
              <tr>
                <th>DMF positive</th>
                <td>{{DMF_positive}}</td>
              </tr>
              <tr>
                <th>DMF negative</th>
                <td>{{DMF_negative}}</td>
                <th>Average of {{e_value}} permutations</th>
              </tr>
              <tr>
                <th>mirror profiles</th>
                <td>{{mirror_profiles}}</td>
                <td>{{mirror_profiles_perm}}</td>
              </tr>
              <tr>
                <th>similar profiles</th>
                <td>{{similar_profiles}}</td>
                <td>{{similar_profiles_perm}}</td>
              </tr>
              <tr>
                <th>dissimilar</th>
                <td>{{dissimilar_profiles}}</td>
                <td>{{dissimilar_profiles_perm}}</td>
              </tr>
              <tr>
                <th>total</th>
                <td>{{total}}</td>
              </tr>
            </table>
          </section>
          <section class="w3-container w3-margin w3-card-8 w3-dark-grey">
            <h2>Plots<h2>
              <div id="plots" class="floating_box">
                <img src="{{histogram_profs}}">
                <img src="{{histogram_gis}}">
                <img src="{{bivar}}">
                <img src="{{lin_regr}}">
              </div>
          </section>
          <article class="w3-container w3-margin w3-card-8 w3-dark-grey">
            <h2>Dataframe</h2>
            <br class=double_space></br>
            {{dataframe}}
          </section>
      </article>
    </section>
  </body>
  </body>
</html>
